/**
 * Non-owners will not see the admin settings, as they're not
 * allowed to edit them anyway
 */
.body:not(.is-owner) .Settings__Document_Tab {
  display: none;
}

.MyDocuments__NewDocument__access {
  width: 100%;
  max-width: 12cm;
}

.MyDocuments__collaborators {
  margin-bottom: .25cm;
}

.MyDocuments__User__name {
  width: 5cm;
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .MyDocuments__User label {
    width: 1cm;
    margin-left: 0 !important;
  }
}
@media (max-width: 767px) {
  .MyDocuments__User .form-group {
    margin-bottom: 0;
  }
}

.MyDocuments__ChooseUser {
  position: relative;
}
.MyDocuments__ChooseUser__results {
  width: 100%;
}
